<h1>Welcome!</h1>
<a href="/sessions/new">Already Registered?</a>

<div class="row">
	<div class="columns ten center-align">
		<h3>Register</h3>

		<form action="/users" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
			<label>First Name:</label>
			<input type="text" name="user[first_name]">

			<% if flash[:first_name] %>
				<br>
				<p style="color:red;"><%= flash[:first_name]%></p>
			<% end %>

			<label>Last Name:</label>
			<input type="text" name="user[last_name]">

			<% if flash[:last_name] %>
				<br>
				<p style="color:red;"><%= flash[:last_name]%></p>
			<% end %>

			<label>Email:</label>
			<input type="email" name="user[email]">

			<% if flash[:email] %>
				<br>
				<p style="color:red;"><%= flash[:email]%></p>
			<% end %>

			<label>Password:</label>
			<input type="password" name="user[password]">

			<% if flash[:password] %>
				<br>
				<p style="color:red;"><%= flash[:password]%></p>
			<% end %>

			<label>Confirm Password:</label>
			<input type="password" name="user[password_confirmation]">
			<br/>
			<button type="submit" class="button-primary">Register</button>
		</form>

	</div>
</div>
